<section class="content container-fluid card animate__animated animate__fadeIn">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Examen médico periódico</h1>
        <p class="lead">Subir archivo</p>
        <hr class="my-2" />
        <form id="ImgCatA" class="dropzone" style="border-radius: 10px;">
          <input type="hidden" name="id" id="idInPic">
          <input type="hidden" name="type" value="examen_médico_periodico" id="typeInput">
          <div class="dz-message" data-dz-message><span>Arrastra los archivos aquí para subirlos <i class="fas fa-cloud-upload-alt"></i></span></div>
        </form>
        <br>
        <div class="d-flex justify-content-right">
          <button type="button" class="btn btn-success">Descargar formato de documento <i class="fas fa-file-download"></i></button>
        </div>
      </div>
    </div>
  </section>
  
  