<section class="content card animate__animated animate__fadeIn" id="inicioDiv">
  <div class="container-fluid mb-4 mt-4">
    <center>
      <lottie-player
        src="https://assets7.lottiefiles.com/packages/lf20_6rwtym6l.json"
        background="transparent"
        speed="1"
        style="width: 100px; height: 100px"
        loop
        autoplay
      ></lottie-player>
    </center>
    <br />
    <input
      class="form-control form-control-lg"
      type="text"
      placeholder="Ingresa NSS de empleado"
      id="SearchInpitInicio"
      onchange="buscarEmpleadoIni()"
    />
  </div>
</section>
