<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline text-white card-primary glass">
      <div class="card-header text-center">
        <img src="view\img\logo-menu.png" class="img-fluid" alt="" />
      </div>
      <div class="card-body">
        <p class="login-box-msg">Iniciar sesión</p>

        <form>
          <div class="input-group mb-3">
            <input
              type="email"
              class="form-control"
              id="mail"
              placeholder="Email"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember" />
                <label for="remember"> Recuerdame </label>
              </div>
            </div>
            <!-- /.col -->
            <div class="col-4">
              <button
                type="button"
                class="btn btn-primary btn-block"
                onclick="checkLogin()"
              >
                Siguente
              </button>
            </div>
            <!-- /.col -->
          </div>
        </form>

      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>