  <!-- /.content-wrapper -->
  <footer class="main-footer fixed-bottom">
    
    <strong>Copyright &copy; 2024 <a href="https://www.onestlogistics.com/">ONEST</a>.</strong>
    Todos los derechos reservados.
    <div class="float-right  d-sm-inline-block row">
      <button
        data-widget="pushmenu"
        type="button"
        class="btn btn-light btn-sm"
        ><i class="fas fa-bars"></i>
        </button>

        <a href="#menuHeredoFam"
        class="btn btn-light btn-sm"
        ><i class="fas fa-arrow-alt-circle-up"></i>
      </a>
        <b>Version</b> 1.3
      
    </div>
  </footer>
  

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="view/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="view/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="view/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="view/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="view/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="view/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="view/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="view/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="view/plugins/moment/moment.min.js"></script>
<script src="view/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="view/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="view/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="view/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="view/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="view/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="view/dist/js/pages/dashboard.js"></script>
<!-- Datatables -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.13.4/i18n/es-ES.json"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.1.0/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.flash.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.html5.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/2.1.0/js/buttons.print.min.js"></script>
<!-- dropzone -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.0/dropzone.js" integrity="sha512-7Tszxh3Kr21KLJ/8V+W2Pv9UXgkVYIhjL34oWPRW/DS8fCsgUee9SpZfzmBw/e+/Z97B46jDydAZkCgqJ9KLyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- ajax -->
<script src="view/plugins/ajaxProcess/mainAjax.js"></script>
<script src="view/plugins/ajaxProcess/validateModules.js"></script>
<!-- lottieFiles https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js  -->
<script src="http://salud.onestcloud.mx:70/node_modules/lottiefiles/dotlottie-player.js"></script>
<!-- efirma -->
<script src="view/plugins/ajaxProcess/efirma.js"></script>
<!-- generadorExcel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script>
