<form>
    <div class="container d-flex justify-content-center animate__animated animate__fadeIn">
      <div class="row col-8">
        <fieldset class="row mb-3 col-12 col-md-6">
          <input type="hidden" value="<?=$NEUROSIS?>" id="neurosis0" />
          <legend class="col-form-label col-12 pt-0">
            <label for="email">Neurosis</label>
          </legend>
          <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="neurosis"
                id="neurosis1"
                value="1"
                
              />
              <label class="form-check-label" for="neurosis1"> Si </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="neurosis"
                id="neurosis2"
                value="0"
              />
              <label class="form-check-label" for="neurosis2"> No </label>
            </div>
          </div>
        </fieldset>
        <fieldset class="row mb-3 col-12 col-md-6">
          <legend class="col-form-label col-12 pt-0">
            <label for="email">Comentarios:</label>
          </legend>
          <div class="col-12">
            <textarea
              class="form-control"
              id="neurosisOBS"
              name="neurosisOBS"
            ><?=$NEUROSIS_OBS?></textarea>
          </div>
        </fieldset>
        <fieldset class="row mb-3 col-12 col-md-6">
          <input type="hidden" value="<?=$PSICOSIS?>" id="psicosis0" />
          <legend class="col-form-label col-12 pt-0">
            <label for="email">Psicosis</label>
          </legend>
          <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="psicosis"
                id="psicosis1"
                value="1"
                
              />
              <label class="form-check-label" for="psicosis1"> Si </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="psicosis"
                id="psicosis2"
                value="0"
              />
              <label class="form-check-label" for="psicosis2"> No </label>
            </div>
          </div>
        </fieldset>
        <fieldset class="row mb-3 col-12 col-md-6">
          <legend class="col-form-label col-12 pt-0">
            <label for="email">Comentarios:</label>
          </legend>
          <div class="col-12">
            <textarea
              class="form-control"
              id="psicosisOBS"
              name="psicosisOBS"
            ><?=$PSICOSIS_OBS?></textarea>
          </div>
        </fieldset>
        <fieldset class="row mb-3 col-12 col-md-6">
          <input type="hidden" value="<?=$INTENTO_DE_SUICIDIO?>" id="intentoSuicidio0" />
          <legend class="col-form-label col-12 pt-0">
            <label for="email">Intento de suicidio</label>
          </legend>
          <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="intentoSuicidio"
                id="intentoSuicidio1"
                value="1"
                
              />
              <label class="form-check-label" for="intentoSuicidio1"> Si </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="intentoSuicidio"
                id="intentoSuicidio2"
                value="0"
              />
              <label class="form-check-label" for="intentoSuicidio2"> No </label>
            </div>
          </div>
        </fieldset>
        <fieldset class="row mb-3 col-12 col-md-6">
          <legend class="col-form-label col-12 pt-0">
            <label for="email">Comentarios:</label>
          </legend>
          <div class="col-12">
            <textarea
              class="form-control"
              id="intentoSuicidioObs"
              name="intentoSuicidioObs"
            ><?=$INTENTO_DE_SUICIDIO_OBS?></textarea>
          </div>
        </fieldset>
        <fieldset class="row mb-3 col-12 col-md-6">
          <input type="hidden" value="<?=$ESQUIZOFRENIA?>" id="esquizo0" />
          <legend class="col-form-label col-12 pt-0">
            <label for="email">Esquizofrenia</label>
          </legend>
          <div class="col-12">
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="esquizo"
                id="esquizo1"
                value="1"
                
              />
              <label class="form-check-label" for="esquizo1"> Si </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="esquizo"
                id="esquizo2"
                value="0"
              />
              <label class="form-check-label" for="esquizo2"> No </label>
            </div>
          </div>
        </fieldset>
        <fieldset class="row mb-3 col-12 col-md-6">
          <legend class="col-form-label col-12 pt-0">
            <label for="email">Comentarios:</label>
          </legend>
          <div class="col-12">
            <textarea
              class="form-control"
              id="esquizoObs"
              name="esquizoObs"
            ><?=$ESQUIZOFRENIA_OBS?></textarea>
          </div>
        </fieldset>
       
      </div>
    </div>
  </form>
  