<form>
  <div class="container d-flex justify-content-center animate__animated animate__fadeIn">
    <div class="row col-8">
      <fieldset class="row mb-3 col-12 col-md-6">
        <input type="hidden" value="<?=$TRANSTORNO_DE_CRECIMIENTO?>" id="transtornoCreci0" />
        <legend class="col-form-label col-12 pt-0">
          <label for="email">Transtorno de crecimiento</label>
        </legend>
        <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="transtornoCreci"
              id="transtornoCreci1"
              value="1"
              
            />
            <label class="form-check-label" for="transtornoCreci1"> Si </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="transtornoCreci"
              id="transtornoCreci2"
              value="0"
            />
            <label class="form-check-label" for="transtornoCreci2"> No </label>
          </div>
        </div>
      </fieldset>
      <fieldset class="row mb-3 col-12 col-md-6">
        <legend class="col-form-label col-12 pt-0">
          <label for="email">Comentarios:</label>
        </legend>
        <div class="col-12">
          <textarea
            class="form-control"
            id="transtornoCreciOBS"
            name="transtornoCreciOBS"
          ><?=$TRANSTORNO_DE_CRECIMIENTO_OBS?></textarea>
        </div>
      </fieldset>
    </div>
  </div>

</form>
