<form>
    <div
      class="container d-flex justify-content-center animate__animated animate__fadeIn"
    >
      <div class="row col-8">
        <fieldset class="row mb-3 col-12 col-md-12">
          <legend class="col-form-label col-12 pt-0">
            <label for="email">Plan terapéutica empleada:</label>
          </legend>
          <div class="col-12">
            <textarea class="form-control" id="OBSERVACIONESPLATERINP" name="OBSERVACIONESPLATERINP"><?=$OBSERVACIONES?></textarea
            >
          </div>
        </fieldset>
      </div>
    </div>
  </form>
  