<form>
  <div
    class="container d-flex justify-content-center animate__animated animate__fadeIn"
  >
    <div class="row col-8">
      <fieldset class="row mb-3 col-12 col-md-12">
        <div class="form-group col-md-6">
          <label for="">Menarca</label>
          <input
            type="text"
            class="form-control"
            value="<?=$MENARCA?>"
            name="MenarcaInp"
            id="MenarcaInp"
            aria-describedby="helpId"
            placeholder="Menarca"
          />
        </div>
        <div class="form-group col-md-6">
            <label for="">Ritmo</label>
            <input
              type="text"
              class="form-control"
              value="<?=$RITMO?>"
              name="RitmoInp"
              id="RitmoInp"
              aria-describedby="helpId"
              placeholder="Ritmo"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Ivsa</label>
            <input
              type="text"
              class="form-control"
              value="<?=$IVSA?>"
              name="IvsaInp"
              id="IvsaInp"
              aria-describedby="helpId"
              placeholder="Ivsa"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Fum</label>
            <input
              type="text"
              class="form-control"
              value="<?=$FUM?>"
              name="FumInp"
              id="FumInp"
              aria-describedby="helpId"
              placeholder="Fum"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">G</label>
            <input
              type="text"
              class="form-control"
              value="<?=$G?>"
              name="GInp"
              id="GInp"
              aria-describedby="helpId"
              placeholder="G"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">A</label>
            <input
              type="text"
              class="form-control"
              value="<?=$A?>"
              name="AInp"
              id="AInp"
              aria-describedby="helpId"
              placeholder="A"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">P</label>
            <input
              type="text"
              class="form-control"
              value="<?=$P?>"
              name="PInp"
              id="PInp"
              aria-describedby="helpId"
              placeholder="P"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">C</label>
            <input
              type="text"
              class="form-control"
              value="<?=$C?>"
              name="CInp"
              id="CInp"
              aria-describedby="helpId"
              placeholder="C"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Método de Planificación Familiar</label>
            <input
              type="text"
              class="form-control"
              value="<?=$MET_PLANIFICACION?>"
              name="MdPFInp"
              id="MdPFInp"
              aria-describedby="helpId"
              placeholder="Método de Planificación Familiar"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Papanicolaou</label>
            <input
              type="text"
              class="form-control"
              value="<?=$PAPANICOLAOU?>"
              name="PapanInp"
              id="PapanInp"
              aria-describedby="helpId"
              placeholder="Papanicolaou"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Infecc. Rep.</label>
            <input
              type="text"
              class="form-control"
              value="<?=$INFECC_REP?>"
              name="InReInp"
              id="InReInp"
              aria-describedby="helpId"
              placeholder="Infecc. Rep."
            />
          </div>
          <div class="form-group col-md-6">
            <label for="">Fup</label>
            <input
              type="date"
              class="form-control"
              value="<?=$FUP?>"
              name="FupInp"
              id="FupInp"
              aria-describedby="helpId"
              placeholder="Fup"
            />
          </div>
      </fieldset>
    </div>
  </div>
</form>
